<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/">
      <img src="assets/logoDM.png" alt="logoDM" class="logoDM">
    </a>
  </div>
  <ul class="nav-list">
    <li>
      <div class="hover-underline">
        <a routerLink="/Blog" routerLinkActive="active" >Blog</a>
      </div>
    </li>
    <li>
      <div class="hover-underline">
      <a routerLink="/Characters" routerLinkActive="active">Characters</a>
      </div>
    </li>
    <li>
      <div class="hover-underline">
      <a routerLink="/Calendar" routerLinkActive="active">Calendar</a>
      </div>
    </li>
  </ul>
</nav>