body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mainWallpaper{
    width: 100%;
    height: 100vh; /* copre tutta la viewport */
    object-fit: cover; /* assicura che l'immagine copra l'intero contenitore */
}
/* 
:host {
  display: block;
  height: 100vh; 
  background-image: url('/assets/mainWallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */